/* Add screen styles below */
/*
background: rgb(255,174,149);
background: radial-gradient(circle, rgba(255,174,149,1) 0%, rgba(255,250,245,1) 62%, rgba(255,250,245,1) 100%);
#fffaf5
#377365
*/

html{
  background: #fffaf5;
  background: radial-gradient(circle, rgba(255,183,160,1) 0%, rgba(255,250,245,1) 32%, rgba(255,250,245,1) 100%);
  background-attachment: fixed; /*edit*/
  font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}

body{
  
  color: #387465;
  margin: 0;
  justify-content: center;
  align-items: center;
}

a{
  text-decoration: none;
}

p{
  font-size: 25px;
}

.underline{
  text-decoration: underline;
}

.navbar{
  display: flex;
  flex-direction: row;
}

.navbar ul{
  list-style: none;
  font-size: 30px;
}

.navbar li {
  float: right;
}

.navbar a {
  display: block;
  padding: 20px;
  
}

a:link {
  color:#387465;
}

a:visited {
  color:#387465;
  font-weight: bold;
}

a:hover{
  color:#68ac9a;
}

h2{
  font-size: 60px;
}

h1{
  font-family: 'Lora';
  font-weight: 500;
}

h3{
  font-size: 40px;
}

.navbar .logo{
  align-self: left;
  font-family:'Poppins';font-size: 50px;
}

.headshot{
  margin: 30px;
  width: 25%;
  border-radius: 50% 50% 0 0; /* Adjust the values to control the roundness */
  overflow: hidden;
}

.flex-container1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 600px;
  width: 80%;
  padding: 10px;
  margin: 10px;
}

.hello-my-name-is{
  text-align: left;
  margin: 0;
}

.kiana {
  font-weight: 400;
  font-size: 140px;
  text-align: right;
  margin:0;
}

.flex-container2{
  
  display: flex;
  flex-direction: column;
  max-width: 80%;
  position: relative;
  justify-content: center;
  margin: 1% 30px 5% 30px;
  padding: 0 0 0 0;
}

.flex-container2 .flex-item1 {
  max-width: 80%;
  text-align: left;
}

.flex-container2 .flex-item2 {
  max-width: 80%;
  text-align: right;
}

.flex-container2 .flex-item3 {
  max-width: 80%;
  text-align: left;
}

.flex-container2 .flex-item4 {
  max-width: 80%;
  text-align: right;
}

.flex-container-drinks{
  font-size: 20px;
  display: flex;
  width: 60%;
  justify-content: center;
  align-items: left;
}

/* footer */
#footer {
  font-family: "Poppins";
  display: flex;
  flex-wrap: wrap; 
  background-color: #91A49F;
  padding: 3%;
  justify-content: center; 
}

.footer-left{
  align-items: left;
  flex-direction: column;
}

.footer-right{
  align-items: left;
  justify-content: space-around;
}

.connect {
  display: flex;
  margin: 0;
  flex-direction: column;
  font-size: 40px;
  flex-grow: 1;
}

.icons {
  margin: 0;
  align-self:flex-end ;
  justify-content:left;
  align-items: left;
}

.designed-coded {
  color: #c4dbd5;
  font-size: 15px;
  align-self: flex-end;
}

.view-resume {
  align-self: flex-end;
}

.view-resume a:hover{
  color: #dcf7f0;
  align-self: flex-end;
}







































.extralight {
  /* Montserrat Extra Light = 200 */
  font-weight: 200;
  font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}

.light {
  /* Montserrat Light = 300 */
  font-weight: 300;
  font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}

.regular {
  /* Montserrat Regular = 400 */
  font-weight: 400;
  font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}


.medium {
  /* Montserrat Medium = 500 */
  font-weight: 500;
  font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}


.semibold {
  /* Montserrat Semi-bold = 600 */
  font-weight: 600;
  font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}


.bold {
  /* Montserrat Bold = 700 */
  font-weight: 700;
  font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}


.extrabold {
  /* Montserrat Extra Bold = 800 */
  font-weight: 800;
  font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}


.black {
  /* Montserrat Black = 900 */
  font-weight: 900;
  font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}